* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana;
    color: #000;
    text-align: center;
}

h1 {
    margin-top: 30px;
    color: red;
}


.item {
    margin: 5px;
    padding: 5px;
    background: #3b3b39
    text-align: center;
    font-size: 1em;
    color: #fff;
}

.container {
    max-width: 600px;
    /*height: 400px;*/
    margin: 0 auto;
    border: 1px solid #000;
    /*display: flex;*/
    /*flex-direction: column;*/
}


.flexivel {
    display: flex;
}

.linha {
    flex-direction: row;
}

.linha_reversa {
    flex-direction: row-reverse;
}

.vertical {
    flex-direction: column;
}

.vertical_reverso {
    flex-direction: column-reverse;
}