* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana;
    color: #000;
    text-align: center;
}

h2 {
    color: red;
    margin: 15px 0 5px;
}

p {
    text-align: justify;
    padding: 10px;
}

.propriedades {
    margin: 30px 0;
    background-color: red;
    color: white;
  }

.item {
    margin: 5px;
    padding: 5px;
    background: #3b3b39;
    text-align: center;
    font-size: 1em;
    color: #fff;
}

.container {
    max-width: 600px;
    height: 400px;
    margin: 0 auto;
    border: 1px solid #000;
    /*display: flex;*/
}


.flexivel {
    display: flex;
}
